In [2]:
print('hello,python')

hello,python

In [7]:
import pandas as pd
df1 = pd.read_csv('aqx_p_488.csv')
df2 = df1[['sitename','county','aqi']]
df2

     sitename county  aqi
0      屏東(枋山)    屏東縣   16
1    大甲（日南國小）    臺中市   12
2      新北(樹林)    新北市   35
3      屏東（琉球）    屏東縣   28
4      臺南（麻豆）    臺南市   34
..        ...    ...  ...
995        頭份    苗栗縣   29
996        新竹    新竹市   27
997        竹東    新竹縣   28
998        湖口    新竹縣   33
999        龍潭    桃園市   36

[1000 rows x 3 columns]

In [13]:
df2.columns =['站點','城市','aqi']
df2

           站點   城市  aqi
0      屏東(枋山)  屏東縣   16
1    大甲（日南國小）  臺中市   12
2      新北(樹林)  新北市   35
3      屏東（琉球）  屏東縣   28
4      臺南（麻豆）  臺南市   34
..        ...  ...  ...
995        頭份  苗栗縣   29
996        新竹  新竹市   27
997        竹東  新竹縣   28
998        湖口  新竹縣   33
999        龍潭  桃園市   36

[1000 rows x 3 columns]

In [11]:
df2.to_csv('result1.csv')

In [15]:
df2.to_excel('result2.xlsx',sheet_name='2024_06_27')